
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 50rem;
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),#00a9ff);
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
}

/* Style the navigation list */
ul.nav-list {
    display: flex;
    justify-content:center;
    padding: 0;
    width: 100vw;
}

/* nav bar profile button styling */
.profile-btn-img{
    width: 52px;
    height: 49px;
    position: absolute;
    border-radius: 45px;
    top: 10px;
    right: 51px;
    box-shadow: 3px 3px 5px #d1d4d5;
}

.profile-btn-img:hover{
    scale: 1.2;
    cursor: pointer;
    box-shadow: 3px 3px 5px #998dad;
}


/* Style each list item (nav item) */
ul.nav-list li {
    margin: 0 20px;
}

ul.nav-list li a:hover{
    color: white;
}

ul.nav-list li a{
    color: rgb(47, 156, 240);
   letter-spacing: 0.2rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* title of this page */
.heading{
    margin:  7rem  auto 2rem auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5rem; 
}

th{
    padding: 1rem 2rem; 
}